body{
	margin:0;
	border:10px solid red;

}

img{
	max-width: 100%;
	vertical-align: top;
	/*display: none;*/
}

footer{
	text-align: center;
	color: black;
	font-size: large;
	font-style: italic;
}

@media screen and (max-width: 768px) {
	img#responsive{
		display: block;
	}
}

img#responsive{
	display: none;
}